sudo: required
language: go

go:
- '1.10'

services:
- docker

env:
  global:
  - REPO="danielehc/consul_labs"
  - SRC_DIR="consul_dev_cluster4"
  - secure: NoCCXr1cPZfeHWG1ueY5SAZ9/gY2AsM5QuEkKntu2bZGa4GPw0PN5PJmb8bcdHm1XwEF969ld86/Lu5o/q2XOcZ0swZ1ZpxGxsp5X/ydg2DRwKa612U8CSHTAvYYFejGuUck6hNIds4PB8Y0kOX6apojQ9X9RcfE7y8hngK01q8+u+LMoTV/BaqhuR4evph9365zW4R+Ozya3zclhk+hli/i2Hufqty3Zk7x2ZZHYokJmE5KfXZDIGwOXx0j//gsA1mC3de/3//+cOn0ycgJjwzGzCjblH4CRya162Xmv6OxGDm3TeoMekteqF/toHzKeXVNbJe6V8L67hBqTjdC0utmHE7cgxOWXHPF/LVTCGF1uew7b4o8sCjvIsYtppyU/0HS85ew8WShwlrJ+AaeGkKCFqvUfCqJxtmjMeWl5tH7YVM/cbD0oJgyscTxAi84Tqd+qCsl2CmoUJzpDz4izO2ozLK7as+R3raVkCGwsAijDKmeFW/AMdLX67TsAqtdP+5gf1Sx76ozaJlyQklZHVQ2L+1dgATANHZsio4dc9AD9SHORzS85RC1TAH8DH/Dz9ow5YADolqCLSqM9+GAedqycjYHGwGAtBxSmBELmqEdQTbFZ2NwmWhck2oR5heDov4FtZfhMCD5hecJbNhCZljiUODy+KTty1DpwuQIlWA=
  - secure: FM5nPcR7QQ50WA4+fw5WtJjyg2mmqeJykz1UddbpIBk/mQ5sR80b4HqlJKpTqjehMbQolpxzIIpzW+7UpY8H99NFvi0XNAhZRKoFABviuKyZ9ZR1ndPstas67axG4yHr1oHmpMI4eATUX1pQp24Uzxy4UWRT2ETjdBWcxyiZJNMNhaV0sPrdPTMdHVQXAw4+j5cEWAN3Y/X+63xsHPAeOiHjhTDm7e1LaDLDvDJBt9Uw85OJN+Ajsb7corw4ZVTBdTvbBwuhhlyg6POOp4IcTO/b+geFjCLxNcL+BV3/3ETNgOewMBktaH2oUvwsMvL2ogQYqJxGsETSnToEUvlK5rP4npEpo5uqBH5cfaUR7rEYIHFDOXTNV14K4kh2BL0yecxjr4ZArbKBreYXRxmq0Y6Jx1WGyJ9lKhOQ/T0DgmHTtHx5JSy/jKdyFpoyj5oGRgWKDSW8U9v9MmpY1GNU/NRlXljXnPFoHJT8m0FO78Henic7M3yZFhYFJS8p2bdDhO1Ao3iNr7SVt/L1S5N5hHHoheQzZR0Zj+eIXa0zJt4UEZoWJMXgRR4s4c+42mOhItVKSkMM5UXmvQ8meNtjXIphmeZHlvqPkQYroQiFrdrLwUXX/+vudY1GFo6QHj3hPqItTQ/jBgKQRTITz54Wm14w+60uC2hsTefnkY9TL4k=
  - secure: a846MR93u4FI0weGryVntZw9m27+KR45Z5ytiYNna5zmPTPMTBluv8I+mxFPal0Mc5ZdejLpxzYl9+BUCChz1aOFKeH3BD0lRmcjTfAfQUcnm9wS4tmUxyQH14h+r5bm/Eux6MhCQMUBTjj1+9E4krOsErKKxy/ghhs6+e0OHt6azbfoMBADWK3vb7N4lKQLNCDVaMstjGgVMiLH3ldXzPc3N8G466fv6fmV+BcHjbaU8zMZH3l1U5IIEic8BRrFxEINmW8kCZH6kPPys++et59FZWVH02hPdK/gN1X3BhOusLwQs/B4D4jkTDuwEF/LeQU57u8so31q5fvZAVeBSGAHauqu+xdrCmcEXZH6Loa9v5XTJG4iJWEEoGausc0iZPCHrRH0bcbOsXNRXbtV+NkSP/55DlZh46lb4Ft/1XN5+9nhzsg2Z3G5re2OdK47IByQtf9/ry1f/M1jjGPt/oLvw1XXC2AlQpkTFYn9KP+Cyl4CTbVNN769XyPeuBizlFIfw/4ZxcGw6Z6JOajZTHw55Opohxs48y3EAeiDtiwYjPq6Qh6Yrp8heEBy/OLVl1eRBNXA6SGt/JmNFfTKmWmrKD67wxTSTtAFT/RiwPRGLQ/wwKJHEpBMxKoVESnv17xgDzJPwJ92pNyi3N3c2Wg3qL0fMgzDP6tWmc4BTwg=

script:
- go build -o modern_app_web ${SRC_DIR}/src/modern_app_web.go

after_success: |
  if [  "${TRAVIS_TAG}" ]; then
    docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
    docker build -f Dockerfile -t ${REPO}:${TRAVIS_TAG} -t ${REPO}:latest .
    docker push ${REPO}
  fi

deploy:
  provider: releases
  api_key:
    secure: dHHaO8MYgwBu80UvDPUPhpntKXKRJ1MJsbrSUQkqG6GmaG0fTy0e6zTGO7/zGa/zvmkQcELpbY6sC+JLUpecQyjKW3IkxPNOQNqg4RY+v4Hcr+jnRG2X3+9jcWDFXCn/LYveFYIMucSBPZ8HYchgkyjQL4oVRB8C2bcu64KT9auCmAmfs2QAyCyREyKT9yjNAH5KcNLpedacqy8zNs98Y5xdIyORusm7HAnTnqWe07V/T+p5OKbdGJwfGgCytU6sPmcyE3Iq6jgOUj+wGN6ljrIl2bsBHEkQm25g4nPYpbPcwK/v2gqGDWc3uXvfLD7vnbkXEfBgGbg63zznWEk24hjUZOKCyqVx/REMHbGhGaY9JXHXRN6bmh1wv98M0B4wsp9lXwEYXehXbPzgAt6I6QSmmrredLZD2h1BfgUZ2aFVGhMsgZOgqe2xdeN14CB7OTJEe750btPSC/k/GFo4h/cEbAHfvk1HTQQAusBeDz7kqDbQ2AKSuipwvEl8miE9HquYU+MnFpW8RiP3PnC0F7s5NxW8Ktvu+MEQAk9eF6LdwVKiRJP7yJ+tEo02i0jic4dW9y64usb8+dQ3xVazEJKULzMVNLkzboytzEo6QnG3nME6C6yBzjVdN4+9Ys5mhlhCYUPsf/b5fh6uyV+ccXnjpJAzFBtgmFGCGNkjszo=
  file: "./modern_app_web"
  skip_cleanup: true
  on:
    repo: danielehc/consul_labs
    tags: true
